@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root { --sidebar-w: 260px; }

/* الشريط الجانبي */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: var(--sidebar-w);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #faf8f6;
  padding: 20px;
  border-radius: 15px;
  box-shadow: none;
}

.logo { text-align: center; }
.logo-img { width: 100px; margin-bottom: 10px; }
.logo h2 { font-size: 14px; color: #001b44; font-weight: 600; letter-spacing: 1px; }

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #b0b0b0;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-item:hover { background-color: #fff3cd; color: #f4b400; }
.nav-item.active { color: #f4b400; font-weight: 600; }

.material-icons { font-size: 22px; }

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #001b44;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.logout:hover { background-color: #f8f9fa; }
